# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# Data
data/
# Allow stock_kline.db
!data/stock_kline.db
log/

# Outputs
*.csv
*.log
output.log
